<%- include('partials/start') %>
<%- include('partials/header') %>
<section class="professional_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/professional-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="detail-box">
            <h2>
              Christ John Ortega<br>
              Bsit 3F2
            </h2>
            <p>
              Activity #2
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>